{% extends 'base.html' %}
{% block title %}
    Admin Page
{% endblock title %}

{% block content %}
    <div class="container">
        <h2 class="text-center text-danger fw-bold">Manage Your users Admin</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Sl.No</th>
                <th scope="col">User</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for p in pro %}
              <tr>
                <td>{{p.id}}</td>
                <td>{{p.user}}</td>
                <td>
                    <a href="" class="text-decoration-none btn btn-danger px-5">Edit</a>
                    <form action="{% url 'deleteUser' p.id %}" method="POST">
                      {% csrf_token %}
                      <input type="submit" class="btn btn-info m-2" value="Delete">
                    </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            
          </table>
          <div class="text-center">
            <a href="{% url 'logout' %}" class="text-decoration-none btn btn-success">Log Out</a>
          </div>
         
    </div>
{% endblock content %}