{% extends 'base.html' %}

{% block title %}
    Change Your Password
{% endblock title %}

{% block content %}
    <form action="" method="POST" novalidate class="shadow p-5">
        <h3 class="text-center fw-bold">Change Your Password</h3>
        {% csrf_token %}
        {% for fm in forms %}
            <p class="m-3">{{fm.label_tag}}{{fm}}<small class="text-danger">{{fm.errors|striptags}}</small></p>
        {% endfor %}
        <div class="text-center">
            <input type="submit" value="Change Password" class="btn btn-primary m-3">
            <a href="{% url 'visitProfile' %}" class="text-decoration-none fw-bold btn btn-success"><strong><i>Back To Profile</i></strong></a>
        </div>
        {% if forms.non_field_errors %}
            {% for error in forms.non_field_errors %}
                <p class="alert alert-danger my-3 text-center">{{error}}</p>
            {% endfor %}
        {% endif %}
    </form>
{% endblock content %}