{% extends 'base.html'%}

{% block title %}
    Login Page
{% endblock title %}
{% block content %}
    <form action="" method="POST" novalidate class="shadow p-5 setContainer">
        <h3 class="text-center fw-bold setHeading">Login Here</h3>
        {% csrf_token %}
        {% for fm in forms %}
            <p class="m-3 setLabel">{{fm.label_tag}}{{fm}}<small class="text-danger">{{fm.errors|striptags}}</small></p>
        {% endfor %}
        <div class="text-center">
            <input type="submit" value="Login" class="btn btn-primary m-3 px-5">
            <a href="{% url 'signup' %}" class="text-decoration-none text-info">Sign In</a>
            <hr>
            <h5 class="text-danger">Forgot Password ?<a href="{% url 'password_reset' %}" class="text-decoration-none my-2 fw-bold">Reset Password</a></h5>
        </div>
        {% if forms.non_field_errors %}
            {% for error in forms.non_field_errors %}
                <p class="alert alert-danger my-3 text-center">{{error}}</p>
            {% endfor %}
        {% endif %}
    </form>
{% endblock content %}