{% extends 'base.html' %}

{% block title %}
    Reset Password
{% endblock title %}

{% block content %}
    <form action="" method="POST" novalidate class="shadow p-5">
        <h3 class="text-center fw-bold">Reset Your Password</h3>
        {% csrf_token %}
        {% for fm in form %}
            <p class="m-3">{{fm.label_tag}}{{fm}}<small class="text-danger">{{fm.errors|striptags}}</small></p>
        {% endfor %}
        <div class="text-center">
            <input type="submit" value="Reset Password" class="btn btn-primary m-3">
            <a href="{% url 'login' %}" class="text-decoration-none fw-bold btn btn-success"><strong><i>Back To Login</i></strong></a>
        </div>
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3 text-center">{{error}}</p>
            {% endfor %}
        {% endif %}
    </form>
{% endblock content %}